<div class="center">
    <div class="top">Solar System</div>
    <div class="carousel">
      <div class="left">
        <!-- <div class="left-item">
          <div class="title">Sun</div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quisquam eaque, laboriosam expedita perferendis facilis esse deleniti qui voluptas! Nesciunt!
          </div>
        </div> -->
  
        <div class="left-item">
          <div class="title">Moon</div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quisquam eaque, laboriosam expedita perferendis facilis esse deleniti qui voluptas! Nesciunt!
          </div>
        </div>
  
        <!-- <div class="left-item">
          <div class="title">Earth</div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quisquam eaque, laboriosam expedita perferendis facilis esse deleniti qui voluptas! Nesciunt!
          </div>
        </div> -->
  
        <div class="left-item">
          <div class="title">Mercury</div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quisquam eaque, laboriosam expedita perferendis facilis esse deleniti qui voluptas! Nesciunt!
          </div>
        </div>
  
        <div class="left-item">
          <div class="title">Venus</div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quisquam eaque, laboriosam expedita perferendis facilis esse deleniti qui voluptas! Nesciunt!
          </div>
        </div>
  
        <div class="left-item">
          <div class="title">Mars</div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quisquam eaque, laboriosam expedita perferendis facilis esse deleniti qui voluptas! Nesciunt!
          </div>
        </div>
  
        <div class="left-item">
          <div class="title">Jupiter</div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quisquam eaque, laboriosam expedita perferendis facilis esse deleniti qui voluptas! Nesciunt!
          </div>
        </div>
  
        <div class="left-item">
          <div class="title">Saturn</div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quisquam eaque, laboriosam expedita perferendis facilis esse deleniti qui voluptas! Nesciunt!
          </div>
        </div>
  
        <div class="left-item">
          <div class="title">Uranus</div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quisquam eaque, laboriosam expedita perferendis facilis esse deleniti qui voluptas! Nesciunt!
          </div>
        </div>
  
        <div class="left-item">
          <div class="title">Neptune</div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quisquam eaque, laboriosam expedita perferendis facilis esse deleniti qui voluptas! Nesciunt!
          </div>
        </div>

        <div class="left-item">
            <div class="title">Plutone</div>
            <div class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quisquam eaque, laboriosam expedita perferendis facilis esse deleniti qui voluptas! Nesciunt!
            </div>
          </div>
      </div>
      <div class="right">
        <!-- <div class="item active">
          <img src="" alt="Sun" />
          <button type="button">View More</button>
        </div> -->
  
        <div class="item">
          <img src="../../assets/img/luna.png" alt="Moon" />
          <button type="button">View More</button>
        </div>
  
        <!-- <div class="item">
          <img src="" alt="Earth" />
          <button type="button">View More</button>
        </div> -->
  
        <div class="item">
          <img src="../../assets/img/mercurio.png" alt="Mercury" />
          <button type="button">View More</button>
        </div>
  
        <div class="item">
          <img src="../../assets/img/venere.png" alt="Venus" />
          <button type="button">View More</button>
        </div>
  
        <div class="item">
          <img src="../../assets/img/mars.png" alt="Mars" />
          <button type="button">View More</button>
        </div>
  
        <div class="item">
          <img src="../../assets/img/giove.png" alt="Jupiter" />
          <button type="button">View More</button>
        </div>
  
        <div class="item">
          <img src="../../assets/img/saturno.png" alt="Saturn" />
          <button type="button">View More</button>
        </div>
  
        <div class="item">
          <img src="../../assets/img/urano.png" alt="Uranus" />
          <button type="button">View More</button>
        </div>
  
        <div class="item">
          <img src="../../assets/img/nettuno.png" alt="Neptune" />
          <button type="button">View More</button>
        </div>

        <div class="item">
            <img src="../../assets/img/plutone.png" alt="Plutone" />
            <button type="button">View More</button>
          </div>
      </div>
    </div>
  </div>
  