<footer class="bg-dark text-white py-4 py-md-4">
  <div class="container px-4 px-md-5">
    <div class="row text-center">
      <div class="col-12 mb-4">
        <a href="#">
          <img class="logo" src="../../../assets/img/LOGO.png" alt="Logo">
        </a>
      </div>
      <div class="col-12 col-md-9 mx-auto">
        <div class="row">
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h5 class="h6">Quick Links</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">About</a></li>
              <li><a href="#" class="text-white text-decoration-none">Destinations</a></li>
              <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h5 class="h6">Resources</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">Blog</a></li>
              <li><a href="#" class="text-white text-decoration-none">FAQ</a></li>
              <li><a href="#" class="text-white text-decoration-none">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h5 class="h6">More Resources</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
              <li><a href="#" class="text-white text-decoration-none">Support</a></li>
              <li><a href="#" class="text-white text-decoration-none">Careers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-4">
        <small class="text-light">&copy; 2024 Epic Space. All rights reserved</small>
      </div>
    </div>
  </div>
</footer>
