<div class="reviews-page-container">
  <header class="page-header">
    <h1>Recensioni dei nostri viaggiatori</h1>
  </header>
  <div class="reviews-grid">
    <div *ngFor="let recensione of recensioni" class="review">
      <p class="review-text">{{ recensione.text }}</p>
      <p class="review-author">- {{ recensione.user.nome }}</p>
      <button *ngIf="isAdmin" class="delete-button" (click)="deleteRecensione(recensione.id)">Cancella</button>
    </div>
  </div>
  <div class="review-button-container">
    <button class="review-button" (click)="showReviewForm()">Rilascia una recensione</button>
  </div>
  <div class="review-form" id="review-form" style="display: none;">
    <textarea [(ngModel)]="reviewText" placeholder="Scrivi la tua recensione..."></textarea><br>
    <button (click)="submitReview()">Invia</button>
  </div>
</div>
