<div class="container-wrapper">
  <img class="moon-background" src="../../../assets/img/LUNA4-Photoroom.png" alt="Moon" />
  <div class="container" style="margin: 0 auto">
    <div class="row d-flex justify-content-between align-items-center pb-5">
      <div class="col-auto">
        <img src="../../../assets/img/LOGO.png" style="width: 170px" alt="logoEpicSpace" />
      </div>
      <div class="d-flex justify-content-between align-content-center">
        <div class="mx-2 ">Scelta Pianeta</div>
        <div class="mx-3 "><i class="bi bi-arrow-right"></i></div>
        <div class="mx-2 ">Scelta nave</div>
        <div class="mx-3 "><i class="bi bi-arrow-right"></i></div>
        <div class="mx-2 ">Scelta tuta</div>
        <div class="mx-3 "><i class="bi bi-arrow-right"></i></div>
        <div class="mx-2 fs-4 fw-bold">Riepilogo</div>
      </div>
      <div class="col-auto">
        <i class="bi bi-arrow-return-left fs-1" routerLink="/sceltaTuta"></i>
      </div>
    </div>
    <div class="pb-5 text-center">
      <h1 class="header">To Space and Back</h1>
      <p>Safely in one day, just select destination</p>
    </div>

    <div class="content row justify-content-between">
      <div class="col-lg-6 summary">
        <h2>Riepilogo delle tue scelte</h2>
        <p>Pianeta selezionato <br>{{ choices.planet }}</p>
        <img [src]="choices.planetImg" alt="Pianeta" class="image-small" *ngIf="choices.planetImg" />
        <p>Nave selezionata <br> {{ choices.ship }}</p>
        <img [src]="choices.shipImg" alt="Nave" class="image-small" *ngIf="choices.shipImg" />
        <p>Tuta selezionata <br> {{ choices.suit }}</p>
        <img [src]="choices.suitImg" alt="Tuta" class="image-small" *ngIf="choices.suitImg" />
      </div>

      <div class="col-lg-6 date-selection">
        <h2>Seleziona Data Disponibile</h2>
        <div class="available-dates">
          <label for="available-date">Data Disponibile:</label>
          <select id="available-date" name="available-date" [(ngModel)]="selectedDate" required>
            <option *ngFor="let date of availableDates" [value]="date">{{ date }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-container mt-5 text-black">
      <h1>Acquista Biglietto</h1>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="buyer-name">Nome Acquirente:</label>
          <input type="text" id="buyer-name" name="buyer-name" class="form-control" [(ngModel)]="buyerName" required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required />
        </div>
        <app-checkout></app-checkout>
        <button type="submit" class="btn btn-primary btn-block">Acquista</button>
      </form>
    </div>
  </div>
</div>