  .overlay {
    background: rgba(0, 0, 0, 0.2); /* Filtro nero semi-trasparente */
  }
  
  .testo h2 {
    font-size: 1.5em;
  }
  
  .testo button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    font-size: 0.7em;
    padding: 10px 20px;
  }
  
  @media (max-width: 575.9px) {
    .testo {
      margin-left: 1em;
      margin-top: 100px;
      font-size: 1.5em;
    }
  
    .testo h2 {
      font-size: 1em;
    }
  
    .testo button {
      font-size: 0.5em;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.9px) {
    .testo {
      margin-left: 8em;
      margin-top: 10em;
      font-size: 1.7em;
    }
  
    .testo h2 {
      font-size: 1.2em;
    }
  
    .testo button {
      font-size: 0.7em;
    }

    video{
      width: 100vh;
      height: auto;
    }

    .video-container {
      height: 550px; /* Imposta l'altezza del contenitore video */
      overflow: hidden;
    }

    .video-container video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      
    }
    
  }
  
  @media (min-width: 768px) and (max-width: 991.9px) {
    .testo {
      margin-left: 10em;
      margin-top: 10em;
      font-size: 1.7em;
      padding: 20px;
    }
  
    .testo h2 {
      font-size: 1.3em;
    }
  
    .testo button {
      font-size: 0.7em;
    }

    video{
      width: 100vh;
      height: auto;
    }

    .video-container {
      height: 750px; /* Imposta l'altezza del contenitore video */
      overflow: hidden;
    }

    .video-container video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      
    }
    
  }
  
  @media (min-width: 992px) and (max-width: 1199.9px) {
    .testo {
      margin-left: 13em;
      margin-top: 10em;
      font-size: 1.7em;
    }
  
    .testo h2 {
      font-size: 1.5em;
    }
  
    .testo button {
      font-size: 0.8em;
    }

    video{
      width: 100vh;
      height: auto;
    }

    .video-container {
      height: 765px; /* Imposta l'altezza del contenitore video */
      overflow: hidden;
    }

    .video-container video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      
    }
    
  }

  @media (min-width: 1200px) and (max-width: 1399.9px) {
    .testo {
      margin-left: 14em;
      margin-top: 10em;
      font-size: 1.7em;
    }
  
    .testo h2 {
      font-size: 1.5em;
    }
  
    .testo button {
      font-size: 0.8em;
    }

    video{
      width: 100vh;
      height: auto;
    }

    .video-container {
      height: 820px; /* Imposta l'altezza del contenitore video */
      overflow: hidden;
    }

    .video-container video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      
    }
    
  }

  @media (min-width: 1400px) and (max-width: 1599.9px) {
    .testo {
      margin-left: 15em;
      margin-top: 10em;
      font-size: 1.8em;
      max-width: 50%;
    }
  
    .testo h2 {
      font-size: 1.6em;
    }
  
    .testo button {
      font-size: 0.8em;
    }

    video{
      width: 100vh;
      height: auto;
    }

    .video-container {
      height: 820px; /* Imposta l'altezza del contenitore video */
      overflow: hidden;
    }

    .video-container video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      
    }
  }

  @media (min-width: 1600px) and (max-width: 1799.9px) {
    .testo {
      margin-left: 16em;
      margin-top: 11em;
      font-size: 1.8em;
      
    }
  
    .testo h2 {
      font-size: 1.6em;
    }
  
    .testo button {
      font-size: 0.8em;
    }

    video{
      width: 100vh;
      height: auto;
    }

    .video-container {
      height: 820px; /* Imposta l'altezza del contenitore video */
      overflow: hidden;
    }

    .video-container video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      
    }
  }

  @media (min-width: 1800px){
    .testo {
      margin-left: 16em;
      margin-top: 11em;
      font-size: 1.8em;
      
    }
  
    .testo h2 {
      font-size: 1.6em;
    }
  
    .testo button {
      font-size: 0.8em;
    }

    video{
      width: 100vh;
      height: auto;
    }

    .video-container {
      height: 823px; /* Imposta l'altezza del contenitore video */
      overflow: hidden;
    }

    .video-container video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      
    }
  }

// CAROUSEL PIANETI

.carousel-inner{
  padding: 150px 0;
}

.carousel{
  background-image: url("../../../assets/img/viaLattea3.jpg");
  background-size: cover;
  background-color: black;
}

@media (min-width: 576px) and (max-width: 767.9px) {
  
  .carousel-item img {
    width: 120px;
    }
 
   .saturno {
     width: 250px !important;
     margin-right: -15px;
  }

  .giove {
    margin-right: -20px;
  }

  .marte{
    margin-left: 15px;
  }
 }


 @media (min-width: 768px) and (max-width: 991.9px) {
  .carousel-item img {
    width: 170px;
   }
 
   .saturno {
     width: 350px !important;
  }
}

 @media (min-width: 992px) and (max-width: 1199.9px) {
  .carousel-item img {
    width: 200px;
   }
 
   .saturno {
     width: 430px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1499.9px) {
  .carousel-item img {
   width: 220px;
  }

  .saturno {
    width: 490px !important;
 }
}

@media (min-width: 1500px) {
  .carousel-item img {
   width: 270px;
  }

 .saturno {
     width: 600px !important;
  }
}

// SECTION 1

.section1 {
  background-color: #e4eefc;
}

.img-section1 {
  max-width: 80%; 
  height: auto;
}


.section1 h2,
.section1 p {
  padding: 10px;
}

// CAROUSEL NAVI

// // Ensure the container is full-width and the images are properly styled
// .container-fluid {
//   padding-left: 0;
//   padding-right: 0;
// }

// .carousel {
//   width: 100%;
// }

// .carousel-inner {
//   width: 100%;
// }

// .fixed-width-image {
//   width: 500px;
//   max-width: 100%;  // Ensure the image does not exceed the container width
// }

// .carousel-control-prev,
// .carousel-control-next {
//   width: 5%; // Adjust control button width if necessary
// }

// .carousel-item {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .carousel-item .d-flex {
//   width: 100%;
// }

// @media (max-width: 767.9px) {
//   .carousel-item .d-flex {
//     flex-direction: column;
//   }
// }



// RECENSIONI

.reviews-container {
  background-color: #0d0d0d;
  color: #fff;
  padding: 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  font-family: 'Arial', sans-serif;
  text-align: center; /* Center align text in container */
}

.header {
  margin-bottom: 30px;
}

.header h2 {
  font-size: 26px;
  color: #00ccff;
  margin: 0 auto; /* Center align h2 */
}

.reviews-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

.review {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: left; /* Align text inside review box to the left */
}

.review-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.review-author {
  font-size: 16px;
  color: #00ccff;
  text-align: right;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.discover-more-btn {
  background-color: #00ccff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.discover-more-btn:hover {
  background-color: #0099cc;
}

/* Responsive grid */
@media (min-width: 576px) {
  .reviews-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .reviews-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  .reviews-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .reviews-grid {
    grid-template-columns: 1fr 1fr;
  }
}








