<div class="tute-container text-center my-4">
  <h2>Gestione Tute Spaziali</h2>
  <div class="my-4">
    <h3>Nuova Tuta</h3>
    <input [(ngModel)]="newTuta.nome" placeholder="Nome">
    <input [(ngModel)]="newTuta.descrizione" placeholder="Descrizione">
    <input type="file" (change)="onFronteFileSelected($event)" placeholder="Immagine Fronte">
    <input type="file" (change)="onRetroFileSelected($event)" placeholder="Immagine Retro">
    <button (click)="addTuta()">Aggiungi</button>
  </div>
  <div *ngFor="let tuta of tute" class="my-4">
    <h3>{{ tuta.nome }}</h3>
    <input [(ngModel)]="tuta.descrizione" placeholder="Descrizione">
    <input type="file" (change)="onFronteFileUpdateSelected($event, tuta.id)" placeholder="Immagine Fronte">
    <input type="file" (change)="onRetroFileUpdateSelected($event, tuta.id)" placeholder="Immagine Retro">
    <button (click)="updateTuta(tuta)">Modifica</button>
    <button (click)="deleteTuta(tuta.id)">Elimina</button>
  </div>
</div>
